doctype
html(lang='es')
	head
		title pug desde cero
		meta(charset="utf8")
		meta(name='viewport',content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
		link(rel='stylesheet' href='css/index.css')
	body
		div(class='notification__panel' id='notification__panel-js')
			a(href='' class='quit-panel' id='quit-panel-js') Cerrar
			div(class='notificaciones__today')
				h1(class='notificaciones__today__title') Notificaciones de hoy
				div(class='notificaciones__today__item') Notificacion 1
				div(class='notificaciones__today__item') Notificacion 2
				div(class='notificaciones__today__item') Notificacion 3
				div(class='notificaciones__today__item') Notificacion 4
				div(class='notificaciones__today__item') Notificacion 5
				div(class='notificaciones__today__item') Notificacion 6
				div(class='notificaciones__today__item') Notificacion 7
				div(class='notificaciones__today__item') Notificacion 8
				div(class='notificaciones__today__item') Notificacion 9
				div(class='notificaciones__today__item') Notificacion 10
			div(class='notificaciones__tomorrow')
				h1(class='notificaciones__tomorrow__title') Notificaciones de Ayer
				div(class='notificaciones__tomorrow__item') Notificacion 1
				div(class='notificaciones__tomorrow__item') Notificacion 2
				div(class='notificaciones__tomorrow__item') Notificacion 3
				div(class='notificaciones__tomorrow__item') Notificacion 4
				div(class='notificaciones__tomorrow__item') Notificacion 5
				div(class='notificaciones__tomorrow__item') Notificacion 6
				div(class='notificaciones__tomorrow__item') Notificacion 7
				div(class='notificaciones__tomorrow__item') Notificacion 8
				div(class='notificaciones__tomorrow__item') Notificacion 9
				div(class='notificaciones__tomorrow__item') Notificacion 10







		

		


	 

				

	 
		
		 
	



	
	










		script(src='javascript/index.js')













			

